Q.1 LAMBDA FUNCTION USE

In [8]:
data = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [22]:
data.sort(key = lambda x : x[1])
print(data)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

Q.2  squares of all the numbers in the given list of integers using
lambda and map functions.

In [23]:
number = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
square_number = list(map(lambda x: x**2,number))
print(square_number)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q.3 convert the given list of integers into a tuple of strings
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [2]:
my_list =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
tuple(map(lambda x: str(x),my_list))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q.4 using reduce function to compute the product of a list containing numbers from 1 to 25

In [11]:
from functools import reduce


number =  list(range(1,26))

product = reduce(lambda x,y: x*y,number )
print("product = ",  product)

product =  15511210043330985984000000

In [ ]:
Q.5 filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.

In [15]:
number = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]


filter_list = list(filter(lambda x : x % 2 == 0 and  x%3 == 0,number ))
print("Original_list", number)
print("filter_list", filter_list)

Original_list [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
filter_list [6, 60, 90, 120]

Q.6  find palindromes in the given list of strings using lambda and filter
function.

In [4]:
palindromes = ['python', 'php', 'aba', 'radar', 'level']

palindrome_string = list(filter(lambda word: word == word[::-1],palindromes))


print(palindrome_string)

['php', 'aba', 'radar', 'level']

In [1]:
def test(a):
    return a==a[::-1]
palindromes = ['python', 'php', 'aba', 'radar', 'level']

palindrome_string = list(filter(test,palindromes))


print(palindrome_string)

['php', 'aba', 'radar', 'level']